.center_img{
    width: 250px;
    display: block;
    margin: 0 auto;
}

.vertical-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-logo {
    height: 150px;
    width: 150px;
}