<ion-header>
  <ion-toolbar>
    <ion-title>Pagos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Buscar Orden</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Orden</ion-label>
          <ion-input type="text" [(ngModel)]="idOrden" name="idOrden" required></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-button  stype="button" expand="full" size="default" shape="round" color="primary" (click)="doFilterOrden()">Buscar</ion-button>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <div [hidden]=ishidden>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrar Pago</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-item>
            <ion-label position="floating"># Orden</ion-label>
            <ion-input type="text" id="orderInput-{{this.idorden}}" [(ngModel)]="this.identifier_order" name="identifier_order" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombre del cliente</ion-label>
            <ion-input type="text" [(ngModel)]="this.client" name="client" disabled></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de transacci&oacute;n</ion-label>
            <ion-select placeholder="Selecciona una opci&oacute;n" value="1" okText="Aceptar" cancelText="Cancelar" (ionChange)="tipoPagoChange($event)">
              <ion-select-option *ngFor="let p of this.select_pago" [value]="p.idtipopago">{{p.nombre_tipo_pago}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Monto</ion-label>
            <ion-input type="string" elastic [(ngModel)]="this.box_price_formatted" name="box_price_formatted" (change)='onChangePrice($event)' (keyup)="onPriceUp($event)"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-button  stype="button" expand="full" size="default" shape="round" color="primary" (click)="savePagos()">Registrar</ion-button>
          </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
