<ion-header>
  <ion-toolbar>
    <ion-title>Mantenimiento Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!isUpdate; else conditionFalse">

    <ion-item>
      <ion-label position="stacked">UserName</ion-label>
      <ion-input [(ngModel)]="username" placeholder="UserName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Empresa</ion-label>
      <ion-select placeholder="Selecciona una opci&oacute;n" value="1" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="idempresa">
        <ion-select-option *ngFor="let p of this.select_emp" [value]="p.idempresa">{{p.nombre_empresa}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-select placeholder="Selecciona una opci&oacute;n" value="1" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="idrol">
        <ion-select-option *ngFor="let p of this.select_rol" [value]="p.idrol">{{p.nombre_rol}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click)="submitForm('add')">Agregar</ion-button>
    </ion-item>

  </div>
  <ng-template #conditionFalse>
    <ion-item>
      <ion-label position="stacked">ID</ion-label>
      <ion-input [(ngModel)]="id" placeholder="UserName" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">UserName</ion-label>
      <ion-input [(ngModel)]="username" placeholder="UserName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Empresa</ion-label>
      <ion-select placeholder="Selecciona una opci&oacute;n" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="idempresa">
        <ion-select-option *ngFor="let p of this.select_emp" [value]="p.idempresa">{{p.nombre_empresa}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-select placeholder="Selecciona una opci&oacute;n" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="idrol">
        <ion-select-option *ngFor="let p of this.select_rol" [value]="p.idrol" >{{p.nombre_rol}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estatus</ion-label>
      <ion-select placeholder="Selecciona una opci&oacute;n" value="1" okText="Aceptar" cancelText="Cancelar" [(ngModel)]="estatus">
        <ion-select-option [value]="1">Activo</ion-select-option>
        <ion-select-option [value]="2">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click)="submitForm('update')">Actualizar</ion-button>
    </ion-item>
  </ng-template>
</ion-content>