.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_img{
  width: 20%;
  height: 20%;
  display: block;
  margin: 0 auto;
}

.fire-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-logo {
  height: 150px;
  width: 150px;
}