<ion-split-pane contentId="content">
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu {{this.idrol}}</ion-title>
        <!-- <ion-buttons> -->
          <!-- <ion-button icon-only (click)="closeMenu()"> -->
          <!-- <ion-button icon-only >
            <ion-icon name="md-arrow-back" size="large"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>
    <ion-content>     
      <div *ngIf="isAdmin; else conditionFalse">
        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
            <ion-item [routerLink] = "p.url" routerDirection="root" [class.active-item]="selectedPath === p.url"> 
              {{p.tittle}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>   
      <ng-template #conditionFalse>
        <div *ngFor="let pa of pagesAdmin">
          <ion-menu-toggle *ngIf="pa.url">
            <ion-item [routerLink] = "pa.url" routerDirection="root" [class.active-item]="selectedPath === pa.url"> 
              {{pa.tittle}}
            </ion-item>
          </ion-menu-toggle>
          <ion-item button *ngIf="pa.subPages?.length>0">

          </ion-item>
        </div>
        <!-- <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let pa of pagesAdmin">
            <ion-item [routerLink] = "pa.url" routerDirection="root" [class.active-item]="selectedPath === pa.url"> 
              {{pa.tittle}}
            </ion-item>
            <ion-list>
              <ion-menu-toggle autoHide="false" *ngFor="let s of pa.subPages">
                <ion-item [routerLink] = "s.url" routerDirection="root" [class.active-item]="selectedPath === s.url"> 
                  {{s.tittle}}
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </ion-menu-toggle>
        </ion-list> -->
      </ng-template>
    </ion-content>
    <ion-footer class="bar-stable">
      <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;bottom:0;" (click)="prosesLogout()">Logout</ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>