<ion-split-pane contentId="content" side="start">
  <ion-menu contentId="content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content> 
      
      <div *ngIf="idrol == 1">
        <div *ngFor="let pa of pagesSAdmin">
          <ion-menu-toggle *ngIf="pa.url" auto-hide="false">
            <ion-item [routerLink] = "pa.url" routerDirection="root" routerLinkActive="active" [class.active-item]="selectedPath === pa.url"> 
              <ion-icon slot="start" [name]="pa.icon"></ion-icon>
              <ion-label>{{pa.tittle}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item button *ngIf="pa.subPages?.length>0" (click)="pa.open = !pa.open"
            [class.active-parent]="pa.open" detail="false">
            <ion-icon slot="start" name="arrow-forward" *ngIf="!pa.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="pa.open"></ion-icon>
            <ion-label>{{pa.tittle}}</ion-label>
          </ion-item>
          <ion-list *ngIf="pa.open">
            <ion-menu-toggle auto-hide="false" >
              <ion-item *ngFor="let s of pa.subPages" [routerLink] = "s.url" routerDirection="root" routerLinkActive="active" [class.active-item]="selectedPath === s.url"> 
                <ion-icon slot="start" [name]="s.icon"></ion-icon>
                <ion-label>{{s.tittle}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </div> 

      <div *ngIf="idrol == 2">
        <div *ngFor="let pa of pagesAdmin">
          <ion-menu-toggle *ngIf="pa.url" auto-hide="false">
            <ion-item [routerLink] = "pa.url" routerDirection="root" routerLinkActive="active" [class.active-item]="selectedPath === pa.url"> 
              <ion-icon slot="start" [name]="pa.icon"></ion-icon>
              <ion-label>{{pa.tittle}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item button *ngIf="pa.subPages?.length>0" (click)="pa.open = !pa.open"
            [class.active-parent]="pa.open" detail="false">
            <ion-icon slot="start" name="arrow-forward" *ngIf="!pa.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="pa.open"></ion-icon>
            <ion-label>{{pa.tittle}}</ion-label>
          </ion-item>
          <ion-list *ngIf="pa.open">
            <ion-menu-toggle auto-hide="false" >
              <ion-item *ngFor="let s of pa.subPages" [routerLink] = "s.url" routerDirection="root" routerLinkActive="active" [class.active-item]="selectedPath === s.url"> 
                <ion-icon slot="start" [name]="s.icon"></ion-icon>
                <ion-label>{{s.tittle}}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
      </div>
      
      <div *ngIf="idrol > 2">
        <div *ngFor="let pa of pages">
          <ion-menu-toggle *ngIf="pa.url" auto-hide="false">
            <ion-item [routerLink] = "pa.url" routerDirection="root" routerLinkActive="active" [class.active-item]="selectedPath === pa.url"> 
              <ion-icon slot="start" [name]="pa.icon"></ion-icon>
              <ion-label>{{pa.tittle}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>
      </div>   
    
    </ion-content>
    <ion-footer class="bar-stable">
      <ion-item nav-clear menu-close href="#" style="left:0;right:0;margin:0; width: 100%;position: fixed;bottom:0;" (click)="prosesLogout()">Cerrar Sesiòn</ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>