<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
		<ion-row>
			<ion-col sizeLg="2">
				<div></div>
			</ion-col>
			<ion-col sizeLg="8" class="vertical-center">
				<ion-img [src]="app_url" class="img-logo"></ion-img>
			</ion-col>
			<ion-col sizeLg="2">
				<div></div>
			</ion-col>
		</ion-row>
	</ion-grid>

  <div class="ion-padding" *ngIf="idrol == 1">
    <div class="box blue">
      <h1>{{num_emp}}</h1>
      <p>Empresas hasta el dia <strong>{{today_emp}}</strong></p>
    </div>
  </div>
  <div class="ion-padding" *ngIf="idrol > 1">
    <!-- <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card> -->
    <div class="box blue">
      <h1>{{box_price_formatted}}</h1>
      <p>Recolectados para el dia <strong>{{today}}</strong></p>
    </div>

    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>